<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="${currentdir}/logs" />
  <targets>
    <target xsi:type="File"
				name="messages"				
				encoding="utf-8"
        layout="${message}"	
        archiveAboveSize="100000"
				maxArchiveFiles="90"
				archiveFileName="${currentdir}/logs/archive/messages.(##).log"
				archiveNumbering="Rolling"
				archiveOldFileOnStartup="false"
				fileName="${currentdir}/logs/message.log"
				concurrentWrites="false"/>
  </targets>
  <targets>
    <target xsi:type="Console"
				name="console"/>
  </targets>
  
  <rules>
    <logger name="*" minLevel="info" writeTo="messages" />
    <logger name="*" minLevel="info" writeTo="console" />
  </rules>

</nlog>

